/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  border: 1px solid gray;
  width: 80%;
  margin: 0 auto;
}
h1,
h2 {
  font-size: 4rem;
  text-align: center;
  padding: 2% 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  color: #223c56;
  background-color: lightgray;
}
header .headIcon {
  font-size: 3rem;
}
header .headerNav {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
header .headerNav a {
  text-decoration: none;
  color: #223c56;
  font-size: 2.2rem;
}
header .headerNav a:hover {
  text-decoration: underline;
}
header .logIn {
  color: white;
  background-color: #0065c6;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 1% 5%;
  margin: 2% 0%;
}
.spinnerArea {
  color: #223c56;
}
.spinnerArea .spinnerPlaceholder {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.spinnerArea .restrauntPref {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  padding: 1% 40%;
  flex-direction: column;
  text-align: left;
  font-size: 1.8rem;
  margin: 0 auto;
  border-top: 1px solid gray;
}
