* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: sans-serif;
  }
  
  .App {
    min-height: 100vh;
    width: 100%;
    background-color: #eeeeee;
  }
  
  .form-container {
    display: flex;
    border: red 1px solid;
    justify-content: center;

    
  }
  
  .form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: red 1px solid;
  }
  
  input, label, legend {
    margin-bottom: 15px;
    font-size: 1.4rem;
  }
  
  input {
    padding: 5px;
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  button {
    padding: 6px 10px;
  }
  
  .error {
    color: red;
    font-size: 1.1rem;
    margin-bottom: 4px;
  }
  
  /* .user-container {
    border: 1px solid red;
    min-height: 100vh;
    width: 100%;
    background-color: #dddddd;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }
  
  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 175px;
    width: 20%;
    min-height: 150px;
    border: 1px solid #999999;
    background-color: #cccccc;
  }
  
  .user h2 {
    margin: 10px 0;
    font-size: 1.8rem;
  }
  
  .user p {
    font-size: 1.4rem;
  } */